a {
    display:  inline-block;
}

.flags {
    width:  120px;
    height:  80px;
    align:  center;
}

.sort-form {
    text-align:  right;
}

body {
    background-image: url(/flags/world.jpg);
    color: dimgray;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}